@charset "utf-8";

/* Bőrönd oldal */
.termek{
    background-color: lightgrey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid brown;
}
.termek img{
    mix-blend-mode: multiply;
    width: 50%;
}
.borond-kep{
    text-align: center;
}
#adatok_tarolo{
    background-color: white;
    padding-bottom: 5px;
    border: 3px solid brown;
    font-size: 12px;
}
.szures{
    background-color: white;
    border-bottom: 1px solid brown;
    border-left: 1px solid brown;
    border-right: 1px solid brown; 
}
#szuresGombok{
    text-align: center;
    padding: 20px;
}
#szures-gomb{
    color: white;
    width: 100%;
    background-color: brown;
    font-size: 20px;
    padding: 10px;
}
#szures-torol{
    color: white;
    width: 100%;
    background-color: steelblue;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
}

#adatok_tarolo p{
    height: 20px;
}

#szures_form{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 200%;
}
#szinek_tarolo label{
    padding-left: 20px;
}
.lapozElem button{
    background: brown;
    color: white;
}
.info a{
    text-decoration: none;
    color: black;
}
.info {
    margin: auto;
    padding: 10px;
}
#adatok_tarolo p{
    font-size: 16px;
}
/* Bőrönd oldal vége */


/* Bőrönd adatlap */
.adatlap-oldalszerkezet img {
    mix-blend-mode: multiply;
}
.adatlap_tarolo, .szinek{
    width: 80%;
    margin: auto;
    background-color: white;
    border: 3px solid brown;
    font-size: 16px;
}
#adatlap_szinek{
    width: 60%;
    text-align: center;
    margin: auto;
}
.adatlap_tarolo th, .adatlap_tarolo td{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.termek_adatlap, .szinek{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#kezdoKep{
    text-align: center;
    border-bottom: 1px solid brown;
}
#kezdoKep img{
    width: 50%;
}
.szinek button{
    width: 30px;
    height: 30px;
}
.kosarba{
    background: limegreen;
    color: white;
    font-size: 25px;
}
#kosarbaGomb{
    text-align: center;
    padding-bottom: 20px;
}
#kosarbaGomb label{
    font-size: 30px;
    padding-right: 10px;
}
#kosarbaGomb input::-webkit-outer-spin-button,
#kosarbaGomb input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#kosarbaGomb input{
    height: 30px;
    width: 30px;
    text-align: center;
}
#menny{
    font-size: 20px;
}
/* Bőrönd adatlap vége */
