@charset "utf-8";

/* Rendelés oldal */

#ellenorzes, #szerkesztes{
    background: deepskyblue;
    color: white;
    font-size: 25px;
}
#szamlCim{
    background: deepskyblue;
    color: white;
    font-size: 15px;
    width: 100%;
    margin: auto;
}
/* Rendelés oldal vége */